{% extends "base.html" %}

{% block title %}Adicionar Equipamento ao Cliente{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Adicionar Equipamento a {{ cliente.nome }}</h2>

    <form method="post" action="{% url 'adicionar_equipamento_cliente' cliente.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar Equipamento</button>
    </form>
    

    <div class="mt-3">
        <a href="{% url 'detalhes_cliente' cliente.id %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>
{% endblock %}

