{% extends "base.html" %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>
<a href="{% url 'adicionar_cliente' %}" class="btn btn-success mb-3">Adicionar Cliente</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a href="?ordenar_por=nome&direcao={{ direcao }}">Nome</a></th>
            <th><a href="?ordenar_por=empresa&direcao={{ direcao }}">Empresa</a></th>
            <th><a href="?ordenar_por=telefone&direcao={{ direcao }}">Telefone</a></th>
            <th><a href="?ordenar_por=email&direcao={{ direcao }}">Email</a></th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.empresa }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="{% url 'detalhes_cliente' cliente.id %}" class="btn btn-info btn-sm">Detalhes</a>
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <!-- Botão Excluir -->
                    <button class="btn btn-danger btn-sm confirm-delete"
        data-id="{{ cliente.id }}"
        data-url="{% url 'excluir_cliente' cliente.id %}">
    Excluir
</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



